streamlit
spacy==3.7.1 --only-binary=:all:
blis==0.7.10 --only-binary=:all:
scikit-learn
reportlab
numpy==1.26.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
